@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #73648a;
}

.header{
    display: flex;
    width: 60vw;
    justify-content: center;
    position: relative;
}

.toggle{
    margin-right: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    height: 25px;
    width: 275px;
}

.switch{
    position: relative;
    height: 20px;
    width: 45px;
    display: inline-block;
    margin-left: 3px;
    cursor: pointer;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.4s;
    background-color: #453750;
}

.slider::before{
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: #9882ac;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider {
  background-color: #a393bf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a393bf;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background-color: #453750;
}

.slider.round{
    border-radius: 10px;
}

.slider.round::before{
    border-radius: 50%;
}

.drop-list{
    font-family: inherit;
    width: 100px;
    border-radius: 34px;
    background-color: #a393bf;
    margin-left: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 3px;
}   

.drop-list:focus{
    outline: 0;
}

.players{
    margin: 16px;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

p{
    margin: 3px;
    text-align: center;
    font-size: 18px;
}

p.comp{
    display: inline-block;
    margin: 0;
}

ul{
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
    gap: 5px;
}

li{
    border: 1px solid black;
    width: 70px;
    height: 60px;
    background-color: #9882ac;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;
}

li.select{
    border: 3px solid black;
}

h1 {
    margin: 0;
}

h4{
    margin: 5px;
    height: 20px;
}

.button-container{
    display: flex;
    gap: 5px;
}

.btn{
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    cursor: pointer;
    background-color: #9882ac;
    font-family: inherit;
    font-size: 16px;
}

.btn.reset{
    margin-top: 1.5rem;
}

.btn.comp{
    width: 120px;
}

.btn:active{
    background-color: #a393bf;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300px;
    width: 300px;
    gap: 5px;
}

.grid-item{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #a393bf;
    border-radius: 15px;
    transition: transform 0.4s ease;
    color: #0c0910;
    cursor: pointer;
}

.grid-item:active{
    transform: scale(0.9);
}

@media only screen and (max-width: 950px){
    .players{
        flex-direction: column;
        height: 30vh;
    }
}

@media only screen and (max-width: 1200px){
    .header{
        flex-direction: column;
        text-align: center;
    }

    .toggle{
        position: relative;
        top: 0;
        right: 0;
        margin: 8px auto 0;
    }
}
